body {
    background-color: black;
    color: lime;
    font-family: "Courier New", monospace;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.terminal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 100%;
    padding: 10px;
    overflow: auto;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
